<div class="container mt-3">
    <h2 *ngIf="customerId">Bills for Customer {{customerId}}</h2>
    <h2 *ngIf="!customerId">All Bills</h2>
    <table class="table table-striped" *ngIf="bills">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Customer ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let b of bills">
                <td>{{b.id}}</td>
                <td>{{b.billingDate}}</td>
                <td>{{b.customerId}}</td>
                <td>
                    <button class="btn btn-info" (click)="handleBillDetails(b)">Details</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>